
/* Largura do ícone de ajuda no formulário */
.input-group-addon {
    width: 41px;
}

.input-group {
    width: 100%;
}

.guest {
    background-color: #ecf0f5;
}

.ufop-border {
    border-top: 3px solid #962038;
}

.bg-ufop {
    background-color: #962038;
    color: white;
}

.btn-ufop {
    background-color: #962038;
    color: white;
}

.btn-ufop:hover {
    color: black;
    background-color: lightgray;
}

.no-resize {
    resize: none;
}

a.btn {
    color: white;
}